/* VARIABLES */


/* GENERAL STYLES */

body {
    font-family: 'TT Lakes Medium', sans-serif;
    margin: 0 auto;
    padding: 0;
}

/* BLOCKS */

.brands {
    width: 100vw;
    background-color: #F8F8F8;
}

.header {
    background-color: #FFFFFF;
    padding: 0 0 1rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr min-content;
    overflow: hidden;
    padding: 1rem;
}

/* ELEMENTS */

.header__text {
    font-size: 1.8rem;
    color: #7E7E82;
    margin-left: 1rem;
}

.tab__button {
    min-width: 240px;
    min-height: 72px;
    margin: 1rem;
    border-style: solid;
    border-color: #EAEAEA;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.tab__button:hover {
    filter: opacity(50%);
}

.button-hide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

.button-hide:hover {
    filter: opacity(50%);
}

.button-hide__text {
    font-family: 'TT Lakes Medium', sans-serif;
    font-weight: bold;
}

/* MODIFIERS */

.tab__button--hidable {
    display: none;
}


.swiper-slide {
    display: flex !important;
    margin: 0;
}

.swiper-horizontal {
    padding: 2rem !important;
}
